@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.button{
    background-color: rgb(185, 185, 185);
    padding: 10px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: large;
    text-decoration: none;
}