@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.button{

    padding: 12px 28px;
    background: linear-gradient(200deg, #8c00ff, #c986ff);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;    
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.button:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button:active{
    transform: translateY(0);
    box-shadow: none;
}