@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.container{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 10px 12px rgba(255, 255, 255, 0.342);
    padding: 50px;

}

.title{

    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 800;
    font-size: 30px;
    border-radius: 100px;
    padding: 10px;
}

