.sidebar{
    width: 22%;
    gap: 10px;
    flex-direction: column;
}

.videopreview{
    min-width: 168px;
    min-height: 94.5px;
    overflow: hidden;
    border-radius: 10px;
}

.videopreview img{

    width: 100%;
    height: 100%;
    object-fit:cover;

}

.boxsidebar{

    max-height: 94.5px;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
    gap: 5px;

}

.titlestyle{
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
    white-space: normal;
}

.authorstyle{

    color: rgb(170, 170, 170);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;

}

.infovideo{
    padding-top: 5px;
}


@media(max-width:992px){
    .sidebar{
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
        grid-auto-rows: minmax(auto, 232px);
        justify-content: center;
    }
    .titlestyle{
        -webkit-line-clamp: 1;
    }
    .boxsidebar{
        min-width: 30vw;
        max-height: fit-content;
        flex-direction: column;
    }
    .videopreview{
        min-width: 100%;
        max-height: fit-content;
    }
}