
.body{
    padding: 2%;
    justify-content: center;
    gap: 2%;
    margin-top: 56px;
}

.main{
    width: 70%;
    max-width: 70%;
}

.playercontainer{
    position: relative;
    min-width: 640px;
    min-height: 360px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    overflow: hidden;
}

.player{
    position:absolute;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    border: none;
}

.titolovideo{
    font-size: 1.3rem;
    line-height: 2.8rem;
    font-weight: 700;
    white-space: normal;
    margin: 0;
}

.fontYT{
    color: white;
    font-family: "Roboto","Arial",sans-serif;
}

.fotoprofilo{
    border-radius: 50px;
    width: 48px;
    height: 48px;
}

.divprofilo{
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.actionbutton{
    border-radius: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
}

.textaction{
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
}

.likedislike{
    margin-left: auto;
}

.buttonlike{
    height: 30px;
    background-color: rgb(73, 73, 73);
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
}

.buttondislike{

    height: 30px;
    background-color: rgb(73, 73, 73);
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none; 
    border-left: 1px solid black;
}

.numerolike{
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}

.descrizionecontainer{
    background-color: rgb(73, 73, 73);
    border-radius: 20px; 
    max-height: 200px;
    margin-bottom: 20px;
    padding:10px;
    overflow:auto;
}

.descrizionecontainer::-webkit-scrollbar{
    display: none;
}

.descrizionetext{
    font-size: 0.9rem;
    font-weight: 540;
    line-height: 1.3rem;
}

@media(max-width:992px){
    .body{
        flex-direction: column;
    }
    .main{
        width: 100%;
        max-width: 100%;
    }
}