.logoSignin{
    height: 70%;
    white-space: nowrap;
    border: 2px solid rgb(51, 51, 51);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    gap: 3px;
}

.signin{
    font-size: 1rem;
}
