.logoYT{
    font-size: 1.5rem ;
    color: red;
    white-space: nowrap;
    text-decoration: none;
}

.YT{
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 700;
    letter-spacing: -0.5px; 
}




