.descrizionecontainer{
    background-color: rgb(73, 73, 73);
    border-radius: 20px; 
    max-height: 200px;
    margin-bottom: 20px;
    padding:10px;
    overflow:auto;
}

.descrizionecontainer::-webkit-scrollbar{
    display: none;
}

.descrizionetext{
    font-size: 0.9rem;
    font-weight: 540;
    line-height: 1.3rem;
}