.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content:space-between;
    align-items: center;
    height: 56px;
    gap:5vw;
    z-index: 1000;
    background-color: #181818;
    padding: 10px;
}

