@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.body *{
    font-family: "Ubuntu", sans-serif;
}

.genresbutton {
    border: 1px solid white;
    border-radius: 5px !important;
    background-color: black;
}

.genresbutton:hover{
    border: 1px solid white !important;
    background-color: transparent !important;
}

.menuGenresStyle .ant-dropdown-menu{
    border-radius: 0 ;
    background-color: rgba(0, 0, 0, 0.315);
    display: grid !important;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    gap: 5px 20px;
    padding: 8px 12px;
}

.menuGenresButton{
    color: white !important;
}

.menuGenresButton:hover{
    text-decoration: underline !important;
    background-color: transparent !important;
    transform: translateY(-2px);
}