@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.container{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 10px 12px rgba(255, 255, 255, 0.342);
    padding: 50px;

}

.title{

    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 800;
    font-size: 30px;
    border-radius: 100px;
    padding: 10px;
}

.userpasscontainer{

    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;

}

.inputcontainer{
    position: relative;
    width: 250px;
}

.inputbox{

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(140, 0, 255);
    height: 40px;
    width: calc(100% - 27px);
    outline: 0;
    background-color: transparent;
    padding: 0px 0px 0px 27px;
}

.inputbox:focus{
    border-bottom: 2px solid rgb(140, 0, 255);
}

.inputbox::placeholder{

    font-family: monospace;
    font-weight: 600;

}


.logo{

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);

}

