@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.topbar{
    width: 100%;
    height: 100%;
}

.topbar *{
    font-family: "Ubuntu", sans-serif;
}

.userbutton:hover{
    background-color: #464646 !important;
}

.menubutton:hover
{
    transform: translateY(-2px);
}

.menubutton:active{
    transform: translateY(0);
}

.dropbutton{
    border-radius: 3px;
    color: white;
    width: 100%;
}

.dropbutton:hover{
    color: white!important;
    background-color: #4d4d4d!important;
    transform: translateY(-2px);
}

.menuStyle ul{
    background-color: rgb(31, 31, 31)!important;
    padding: 3px !important;
    margin: 0 !important;
}

.menuStyle ul li{
    padding: 0 !important;
}

.menuStyle ul li.ant-dropdown-menu-item-divider{
    background-color: white !important;
}

