.infovideo{
    padding-top: 5px;
}

.titlestyle{
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
    white-space: normal;
}

.authorstyle{

    color: rgb(170, 170, 170);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;

}

@media(max-width:992px){
    .titlestyle{
        -webkit-line-clamp: 1;
    }
}