.body{
    padding: 2%;
    justify-content: center;
    gap: 2%;
    margin-top: 56px;
}

.sidebar{
    width: 22%;
    gap: 10px;
    flex-direction: column;
}

@media(max-width:992px){
    .body{
        flex-direction: column;
    }
    .sidebar{
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
        grid-auto-rows: minmax(auto, 232px);
        justify-content: center;
    }
}