spring:
  application:
    name: LoginProject
  datasource:
    url: jdbc:mysql://localhost:3306/login_project
    username: root
    password: admi
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB


server:
  port: 8080

jwt:
  secret: iAjCJiI6NRVnx2mn4N/IiRvcF9YRluaSmH8RsnO6dto=

cors:
  allowed: http://localhost:3000, http://localhost:3001

film-project:
  cover-path: C:\Users\User\Documents\AndreaPiccirillo\Ibs-Repo\LoginProject\src\main\resources\uploads